<html lang="pl">
<head>

	
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<meta name="theme-color" content="#fff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      <%= header %>
    </title>
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous" async></script>
   
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
  
  
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-black" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/logo-ciemne.jpg" alt="" id="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:none;">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">
			
        	    <li class="nav-item">
					<a class="nav-link link--thebe" href="/" id="home">Strona główna</a>
          
				</li>
      
                
               
				        <li class="nav-item">
                    
                        <a class="nav-link" href="/services" id="offer">
                           Usługi
                        </a>
                        
                </li>
			
               
                
                <li class="nav-item">
                   
                        <a class="nav-link" href="/contact" id="contact">
                           Kontakt
                        </a>
                        
                        
                </li>
               
			 
                
               
              
                
                  
              
        </ul>
       
      </div>	
        </div>	
     
        
        
    </nav>

    
