<%- include("partials/header") %>

<div class="container-full">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron" style="background: url('/pyramids.jpg');">
                <h2 class="section_jumbo">O nas</h2>
            </div>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section_desc">Poznaj nas bliżej</h2>
            <p class="about text-justify">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore iure omnis enim error fugit id est animi recusandae repudiandae, sequi commodi, assumenda totam harum quisquam vel maxime earum eaque tenetur quos natus odio repellendus perferendis! Illum nemo molestias, labore harum reiciendis eius excepturi repellat tempore voluptatum quia vero quaerat quos temporibus explicabo corrupti corporis earum accusamus animi a facilis ipsum aliquid suscipit dolor! Quibusdam repudiandae molestiae tenetur eum id a maiores sapiente optio. Placeat velit cumque sed consequuntur hic, autem totam quis alias doloremque, at labore suscipit deserunt. Aut perspiciatis labore commodi culpa sapiente dolores aliquid veniam cum veritatis!
            </p>
            <h2 class="section_desc">Nasza galeria</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                   <img src="/krzesło.jpg" alt="Krzesło" class="img-thumbnail">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/samochod.jpg" alt="Fotele" class="img-thumbnail">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/tapicerka.jpg" alt="Tapicerka" class="img-thumbnail">
                </div>
            </div>
           
        </div>
    </div>
</div>
<script>
    document.getElementById("about").classList.add("active")
</script>
<%- include("partials/footer") %>