<%- include("./partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 18%">
            <div id="form1">
                <a href="/login">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony logowania
                </a>
                <h1 class="login">Resetowanie hasła</h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <% if(success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
                <form action="/reset/<%= token %>" method="post" id="form">
                    <div class="form-floating mb-3">
                       
                        <input type="password" class="form-control" autocomplete="on" name="password" id="username"
                        placeholder="Nowe hasło" aria-label="Nowe hasło"
                        aria-describedby="basic-addon1">
                        <label for="username" class="username">
                            Wpisz nowe hasło
                            
                        </label>
                        
                    </div>
                   
                    
                    <div class="form-floating mb-3">
                       
                        <input type="password" class="form-control" autocomplete="on" name="confirm" id="password"
                        placeholder="Powtórz nowe hasło" aria-label="Powtórz nowe hasło"
                        aria-describedby="basic-addon1">
                        <label for="username" class="username">
                            Potwierdź nowe hasło
                            
                        </label>
                        
                    </div>
                    
                    <input type="submit" value="Zmień hasło" class="btn button btn-danger btn-golden" id="send">
                </form>
            </div>
        </div>


    </div>

    <script>
        document.getElementById("form").addEventListener("submit", () => {
            document.getElementById("send").setAttribute("disabled", "disabled");
            document.getElementById("send").value = "Resetowanie...";
        })
    </script>
</body>

</html>