body,
html {
  background-color: #737373;
  font-family: 'Inter', sans-serif;
}

.container-full {
  width: 100vw;
}

#info {
  background: #737373;
  height: 100vh;
}

#info .logo {
  
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  font-weight: 400;
  font-size: 75px;
  color: white;
}

#info .description {
  
  font-size: 25px;
  color: white;
}

#form {
  background: #F2F4F5;
}

.form-control {
  outline: none;
}

.form-control:focus,
.form-select:focus {
  border: 2px solid #F2811D;
  box-shadow: none;
}


#basic-addon1 {
  color: lightseagreen;
  background: #fff;
}

#back {
  
  color: #D99E32;
  font-size: 18px;
}
#form1 div.description a {
  
  color: black;
  font-size: 28px;
}
#form .login {
  
  font-size: 45px;
  font-weight: 700;
  color: #F2811D;
}

 #form .username {
  
  font-size: 18px;
  font-weight: 700;
  color: #F2811D;
}

 #form .button {
  width: 100%;
  margin-bottom: 15px;
  
  font-weight: 700;
  
}

 

 #form1 .form-check-label a {
  font-size: 15px;
}

@media (max-width: 992px) {
   #info {
    display: none;
  }
   #form1 {
    padding: 4%;
  }
   body,  html {
    background: #F2F4F5;
  }
}

 .btn-golden {
  background: #F2811D;
  border: 1px solid  #F2811D;
  color: white;
}



 #description_r {
  color: #c9c7c7;
  font-size: 18px;
  
}

 .description {
  
  font-size: 20px;
  margin-top: 10px;
  color: #212529;
}

 .title {
  font-size: 35px;
  color: lightseagreen;
  font-weight: 700;
  
}

 .title_r {
  font-size: 45px;
  color: goldenrod;
  font-weight: 700;
  
}

.info {
  
  font-size: 18px;
  color: white;
}

.btn-green {
  background: #D99E32;
  border: 1px solid  #D99E32;
  color: #F2811D;
}



.btn-green:hover {
  background: #D9AE30;
  border: 1px solid  #D9AE30;
  color: #BF751B;
}
