body {
    font-family: 'Inter', sans-serif;
    background: white;
}
#mainNav {
    background: white;
    border-bottom: 1px solid rgba(0,0,0,.1);
    
}
#logo {
    height: 60px;
}
#mainNav .navbar-brand {
    text-shadow: 4px 4px 8px #F2811D;

    font-size: 30px;
}

#mainNav .nav-link {
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    transition: 0.6s ease;
    border-bottom: 1px solid transparent;
}


#mainNav .nav-link.active {
    color: #F2811D;
    font-weight: 700;
}
#mainNav .nav-link:hover {
    color: #F2811D;
    border-bottom: 1px solid #F2811D;
}

.section_desc {
    color: #F2811D;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.service-section-title {
    color: #737373;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}
.jumbotron {
    border-radius: 0;
    margin-top: 68px;
}
.margin {
    margin-top: 140px;
}
.section_jumbo {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    
}

.img-thumbnail {
    border: 0;
    border-radius: 9px;
    margin-top: 20px;
}
.img__wrap .img-thumbnail {
    margin-top: 0;
}
.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    color: #F2811D;
   
    
    visibility: hidden;
    opacity: 0;
    width: 100%;
   
    height: 100%;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  .img__description a {
      color: #737373;
      text-align: center;
	font-size: 22px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    font-weight: 700;
      text-align: center;
      text-transform: uppercase;
  }
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: .7;
  }

.about,
.contact_description {
    font-size: 20px;
}

.news_desc,
.footer_description {
    font-size: 18px;
}
#contactDiv {
    background: #D96523;
    color: white;
    margin-top: 30px;
    bottom: 0;
}

.desc {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service {
    margin-bottom: 20px;
}
.language {
    font-size: 14px;
}
.card-title a {
    color: #F2811D;
    font-size: 25px;
    font-weight: 600;
}

.btn-mine {
    background: #F2811D;
    border: #F2811D;
}



.icon {
    margin-right: 6px;
}

.icon-contact {
    color: #F2811D;
    margin-right: 6px;
    font-size: 25px;
}
.form-control:focus {
    border: 2px solid #F2811D;
    color: #F2811D;
    box-shadow: none;
}
.form-control:focus::-webkit-input-placeholder {
    color: #F2811D;
}

.form-control:focus::-moz-placeholder {
    color: #F2811D;
}
.form-control:focus::-ms-input-placeholder {
    color: #F2811D;
}
.button {
    width: 100%;
    text-align: center;
}
#requirements {
    list-style-image: url("star.png");
}
#benefits {
    list-style-image: url("done.png");
}
.certificate {
    margin-bottom: 20px;
}
.card {
    margin-bottom: 20px;
}
@media (max-width:992px) {
    #logo {
        height: 50px;
    }
    .section_desc,
    .contact_description {
        text-align: center;
    }
    
    #mainNav .navbar-brand {
        font-size: 25px;
    }
}