<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 13%">
            <div id="form1">
                <a href="/" id="back">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony głównej
                </a>
                <h1 class="login">Dodaj zdjęcie do naszej galerii</h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                
                <form action="/users/<%= user._id %>/new/picture" method="post" enctype="multipart/form-data" id="form">
                   
                    
                    
                     <div class="mb-3">
                        <label for="formFile" class="username">Zdjęcie do galerii</label>
                        <input class="form-control" type="file" id="formFile" name="picture" required>
                      </div>

                    <input type="submit" value="Dodaj zdjęcie" class="btn button btn-danger btn-golden" id="send">
                   
                </form>
            </div>
            
        </div>
        
    </div>
</div>
<script>
    document.getElementById("form").addEventListener("submit", () => {
        document.getElementById("send").setAttribute("disabled", "disabled");
        document.getElementById("send").value = "Dodawanie...";
    })
</script>
</body>
</html>